@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

body{
  height: 100vh;
  background: #FFDF8C;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

*{
  font-family: 'Akshar', sans-serif;
  font-weight: 500;
}

.App-center{
  width: 100%;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  background: white;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  overflow-y: scroll;
}

.nav{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
}

.logo{
  display: flex;
  align-items: center;
}

.logo_text{
  text-align: left;
  margin-left: 15px;
}

.logo_text h1{  
  margin: 0;
}

.logo_text p{
  margin: 0;
}

.price_and_korzina button{
  background: #FE5F1E;
  width: 130px;
  height: 45px;
  color: white;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s;
}

.price_and_korzina button img{
  width: 15px;
}

.price_and_korzina button:hover{
  box-shadow: 0 0 10px #FE5F1E;
}

.filter{
  width: 90%;
  padding: 25px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter_btns button{
  padding: 10px 25px  ;
  border-radius: 50px;
  border: 0;
  background: #F9F9F9;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.sort{
  display: flex;
  position: relative;
}

.drop{
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 75px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px 0px #00000017;
  padding: 10px 10px;
  list-style: none;
  border-radius: 5px;
  display: none;
}

.drop.active{
  display: block;
}

.drop li{
  padding: 15px;
}

.drop li:hover{
  background: #FE5F1E0D;
  color: #FE5F1E;
}

.selected_sort{
  text-decoration: underline;
  cursor: pointer;
  color: #FE5F1E;
}

.all.active{
  background: #282828;
  color: white;
}

.vegetrian.active{
  background: #282828;
  color: white;
}

.meat.active{
  background: #282828;
  color: white;
}

.gril.active{
  background: #282828;
  color: white;
}

.hot.active{
  background: #282828;
  color: white;
}

.closed.active{
  background: #282828;
  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 25px 5%;
}

.card{
  width: 300px;
  height: 550px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-image img{
  width: 300px;
}

.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-body h1{
  font-size: 25px;
}

.card-body .select_form{
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  border-radius: 10px;
}

.thickness{
  width: 250px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}

.thickness li{
  padding: 15px;
  cursor: pointer;
  transition: .3s;
}

.thickness li:hover{
  background: white;
  border-radius: 10px
}

.thin.active{
  background: white;
  border-radius: 10px
}

.tradition.active{
  background: white;
  border-radius: 10px
}

.size{
  width: 250px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}

.size li{
  padding: 15px;
  cursor: pointer;
  transition: .3s;
} 

.size li:hover{
  background: white;
  border-radius: 10px
}

.cm26.active{
  background: white;
  border-radius: 10px
}

.cm30.active{
  background: white;
  border-radius: 10px
}

.cm40.active{
  background: white;
  border-radius: 10px
}

.card-footer{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer button{
  width: 120px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #FE5F1E;
  background: none;
  color: #FE5F1E;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.card-footer button:hover{
  background: #FE5F1E;
  color: white;
  box-shadow: 0 0 10px #FE5F1E;
}